@model IEnumerable<Projecten2.NET.Materiaal>

{
    ViewBag.Title = "Artikel - " + Model.Title;
}
<h2>Model.Title</h2>
<p>
    <img class="tableImg" src="../../Content/ImagesMinified/@Html.DisplayFor(modelItem => Model.Foto)" a>

</p>
<div id="catalogus-details">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artikelnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uitleenbaar)
            </th>
            <th>
                @Html.DisplayName("Aantal")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaats)
            </th>
            <th></th>
        </tr>

    </table>
   
</div>
