@using Microsoft.Ajax.Utilities
@model IEnumerable < Projecten2.NET.Materiaal>

@{
    ViewBag.Title = "Index";
}
<link type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>

<h2>Catalogus</h2>

@if (TempData["info"] != null)
{
    <div class="alert alert-success">@TempData["info"]</div>
}

<div class="searchbar">
    <p>
        @using (Html.BeginForm("Index", "Catalogus",
                new { ReturnUrl = ViewBag.returnUrl },
                FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-inline">
                <div class="form-group">

                    <label>Doelgroep: @Html.DropDownList("DoelgroepId", ViewBag.doelgroep as SelectList, "-- Alle doelgroepen --", new {@class = "form-control"}) </label>
                    <label>Leergebied: @Html.DropDownList("LeergebiedId", ViewBag.leergebied as SelectList, "-- Alle leergebieden --", new { @class = "form-control" })  </label>
                    <label>ArtikelNaam: @Html.TextBox("SearchString", null, new { @class = "form-control" })  </label>
                    <input type="submit" class="btn btn-groen" value="Zoek" />
                </div>
            </div>     
        }
</div>

<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artikelnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th></th>
    </tr>
    <tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                <img class="tableImg" src="../../Content/ImagesMinified/@Html.DisplayFor(modelItem => item.Foto)" a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artikelnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Plaats)
            </td>
            <td class="text-right">
                @($"{item.Prijs:€0.00}")
            <td>
                @using (Html.BeginForm("AddToVerlanglijst", "Verlanglijst", new {nummer = item.ArtikelNummer}))
                {
                    <button id="button" type="submit" class="btn btn-groen"><span class="glyphicon-plus glyphicon"></span></button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        $('#button').click(function () {
            $('#button').toggleClass("btn btn-default");
        });
    });
</script>
