@using Microsoft.Ajax.Utilities
@model IEnumerable<Projecten2.NET.Materiaal>

@{
    ViewBag.Title = "Index";
}

<h2>Catalogus</h2>

@if (TempData["info"] != null)
{
    <div class="alert alert-success">@TempData["info"]</div>
}

<div class="searchbar">
    <p>
        @using (Html.BeginForm("Index", "Catalogus",
                new { ReturnUrl = ViewBag.returnUrl },
                FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-inline">
                <div class="form-group">

                    <label>Doelgroep: @Html.DropDownList("DoelgroepId", ViewBag.doelgroep as SelectList, "-- Alle doelgroepen --", new {@class = "form-control"}) </label>
                    <label>Leergebied: @Html.DropDownList("LeergebiedId", ViewBag.leergebied as SelectList, "-- Alle leergebieden --", new { @class = "form-control" })  </label>
                    <label>ArtikelNaam: @Html.TextBox("SearchString", null, new { @class = "form-control" })  </label>
                    <input type="submit" class="btn btn-groen" value="Zoek" />
                </div>
            </div>     
        }
</div>

<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artikelnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plaats)
        </th>
        <th></th>
    </tr>
    <tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                <img class="tableImg" src="../../Content/ImagesMinified/@Html.DisplayFor(modelItem => item.Foto)" a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artikelnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td class="text-right">
            @($"{item.Prijs:€00.00}")
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Plaats)
            </td>
            <td>
                @using (Html.BeginForm("AddToVerlanglijst", "Verlanglijst", new {nummer = item.ArtikelNummer}))
                {
                    <button id="b1" type="submit" class="btn btn-groen"><span class="glyphicon-plus glyphicon"></span></button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        $('#b1').onclick(function() {
            $(this).find('button').toggleClass('btn btn-groen btn btn-on');
        })});
</script>
