@using Microsoft.Ajax.Utilities
@model IEnumerable<Projecten2.NET.Models.ViewModels.CatalogusViewModel>

@{
    ViewBag.Title = "Index";
}
<link type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/collapse.js"></script>
@Scripts.Render("~/Scripts/collapse.js")

<h2>Catalogus</h2>

<div class="searchbar">
    <p>
        @using (Html.BeginForm("Index", "Catalogus",
                new { ReturnUrl = ViewBag.returnUrl },
                FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-inline">
                <div class="form-group">

                    <label>Doelgroep: @Html.DropDownList("DoelgroepId", ViewBag.doelgroep as SelectList, "-- Alle doelgroepen --", new {@class = "form-control"}) </label>
                    <label>Leergebied: @Html.DropDownList("LeergebiedId", ViewBag.leergebied as SelectList, "-- Alle leergebieden --", new { @class = "form-control" })  </label>
                    <label>ArtikelNaam: @Html.TextBox("SearchString", null, new { @class = "form-control" })  </label>
                    <input type="submit" class="btn btn-groen" value="Zoek"/>
                    <input type="reset" @*onclick="this.defaultSelected"@*"javascript: location.reload();"*@ class="btn btn-groen" value="Verwijder Filter" />
                </div>      
            </div>     
        }
</div>

<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artikelnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        
        <th></th>
    </tr>
    <tbody>


        @{int i = 0;}

        @foreach (var item in Model)
        {

            <tr data-toggle="collapse" data-target="#materiaal_@i" data-parent="#catalogus-table" class="">
                <td>
                    <img class="tableImg" src="../../Content/ImagesMinified/@Html.DisplayFor(modelItem => item.Foto)" a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artikelnaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>

                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Aantal)
                </td>


                <td>
                    @if (item.InVerlanglijst == false)
                    {
                        using (Html.BeginForm("AddToVerlanglijst", "Verlanglijst", new {naam = item.Artikelnaam}))
                        {
                            <button id="button" type="submit" class="btn btn-groen"><span class="glyphicon-plus glyphicon"></span></button>
                        }
                    }
                    @if (item.InVerlanglijst == true)
                    {
                        using (Html.BeginForm("RemoveFromVerlanglijstInCato", "Verlanglijst", new {naam = item.Artikelnaam}))
                        {
                            <button id="button" type="submit" class="btn btn-groen donkergroen"><span class="glyphicon-minus glyphicon"></span></button>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td colspan="6" class="hiddenRow">
                    <div class="accordion-body collapse" id="materiaal_@i">
                        <table class="table table-hover table-responsive">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Prijs)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Plaats)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Firma)
                                </th>
                                <th></th>
                            </tr>
                            <tbody>
                            <td>
                                @($"{item.Prijs:€0.00}")
                            <td>
                                @Html.DisplayFor(modelItem => item.Plaats)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Firma)
                            </td>
                            </table>
                        </div>
                    </td>
                </tr>
           i++;
         }
    </tbody>
</table>
