@model IEnumerable<Projecten2.NET.Materiaal>

@{
    ViewBag.Title = "Index";
}

<h2>Uw Verlanglijst</h2>

<p> Indien u nu reserveert, kan u het materiaal ophalen op @ViewBag.Startdatum</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artikelnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.Plaats)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                <img class="tableImg" src="../../Content/ImagesMinified/@Html.DisplayFor(modelItem => item.Foto)" a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artikelnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
         
            <td class="text-right">
                @($"{item.Prijs:00.00€}")
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
   
            <td>
                @Html.DisplayFor(modelItem => item.Plaats)
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromVerlanglijst", "Verlanglijst", new { nummer = item.ArtikelNummer  }))
                {
                    <button type="submit" class="btn btn-groen"><span class="glyphicon-minus glyphicon"></span></button>
                    <input id="aantal" name="aantal" type="Text" placeholder="-- Aantal Stuks --" />
                    <button type="submit" id="reservatieButton"class="btn btn-groen">Reserveren</button>
                }
            </td>
        </tr>
    }


</table>


