@model Projecten2.NET.Models.VerlanglijstjeViewModel
    @{
        ViewBag.Title = "Verlanglijstje";
    }
    <script>
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveThis").click(function ()
            {
                // Get the id from the link
                var itemDelete = $(this).attr("data-id");
                if (itemDelete != '') {
                    // Post Ajax
                    $.post("/Domain/Verlanglijstje/RemoveFromVerlanglijstje", { "id": itemDelete },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.ItemAantal == 0)
                            {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            }
                            else
                            {
                                $('#item-aantal-' + data.DeleteId).text(data.ItemAantal);
                            }
                            $('#lijst-totaal').text(data.LijstTotaal);
                            $('#lijst-status').text('Lijst (' + data.LijstAantal + ')');
                        });
                }
            });
        });

    </script>
    <h3>
        <em>Bekijk</em> je verlanglijstje:
    </h3>

  
    <table id="tableVerlanglijstje">
        <tr>
            <th>
                @Html.DisplayName("Artikel")
            </th>
            <th>
                @Html.DisplayName("Prijs")
            </th>
            <th>
                @Html.DisplayName("Aantal")
            </th>
            <th></th>
        </tr>
        @foreach (var item in
            Model.Items)
        {
            <tr id="row-@item.MateriaalId">
                <td>
                    <img class="tableImg" src="../../Content/ImagesMinified/@Html.DisplayFor(modelItem => item.Materiaal.Foto)" a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materiaal.Artikelnaam)
                </td>
                <td>
                    @item.Materiaal.Prijs
                </td>
                <td id="item-aantal-@item.MateriaalId">
                    @item.Aantal
                </td>
                <td>
                    <a href="#" class="RemoveThis"
                       data-id="@item.MateriaalId">
                        Verwijderen uit verlanglijstje
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td>
                Totaal
            </td>
            <td id="verlanglijstje-totaal">
               @Model.Totaal
            </td>
        </tr>
    </table>

