
@model Projecten2.NET.Models.ViewModels.NieuweReservatieViewModel
@{
    ViewBag.Title = "Plaats een nieuwe reservatie";
}

<link type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/knockout.js"></script>
<script src="~/Scripts/reservatie.js"></script>

<h2>Maak een nieuwe reservatie voor @Model.Materiaal.Artikelnaam</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            Aantal beschikbaar : <span data-bind="text : aantalBeschikbaar"></span>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.beginDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.beginDatum, new { @class = "date", data_format = "dd/mm/yy"})
            @Html.ValidationMessageFor(model=>model.beginDatum, "", new {@class="text-danger"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aantal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aantal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aantal, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="button" class="btn btn-groen" value="Meer informatie" id="meer"/>

        <div id="hidden2">
            <div class="form-group">
                @Html.LabelFor(model => model.Materiaal.Artikelnaam, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Materiaal.Artikelnaam, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>

            <input type="button" class="btn btn-groen" value="Minder informatie" id="minder"/>
        </div>

        <div id="hidden">

            <table class="table table-hover table-responsive margin">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Foto)
                    </th>
                    
                    <th>
                        @Html.LabelFor(model => model.Artikelnaam, htmlAttributes: new {@class = "control-label col-md-2"})
                    </th>
                    <th>
                        @Html.LabelFor(model => model.Omschrijving, htmlAttributes: new {@class = "control-label col-md-2"})
                    </th>
                    <th>
                        @Html.LabelFor(model => model.Plaats, htmlAttributes: new {@class = "control-label col-md-2"})
                    </th>
                    <th>
                        @Html.LabelFor(model => model.Firma, htmlAttributes: new {@class = "control-label col-md-2"})
                    </th>
                    <th>
                        @Html.LabelFor(model => model.ArtikelNummer, htmlAttributes: new {@class = "control-label col-md-2"})
                    </th>

                    <th></th>
                </tr>
                <tbody>
                <tr>
                <td>
                    <img class="tableImg" src="../../Content/ImagesMinified/@Html.DisplayFor(model => model.Foto)" a>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Artikelnaam)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Omschrijving)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Plaats)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Firma)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ArtikelNummer)
                </td>
                </tbody>
            </table>
            <input type="button" class="btn btn-groen" value="Minder informatie" id="minder" />
                            
</div>
       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Plaats reservatie" class="btn btn-groen" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar verlanglijst", "Index")
</div>
