
@model Projecten2.NET.Models.ViewModels.NieuweReservatieViewModel
@{
    ViewBag.Title = "Plaats een nieuwe reservatie";
}

<link type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/Scripts/reservatie.js"></script>

<h2>Maak een nieuwe reservatie voor @Model.materiaal.Artikelnaam</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            <b>Aantal beschikbaar : @Model.beschikbaar</b>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.beginDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.beginDatum, new { @class = "date", data_format = "dd/mm/yy"})

            @*@Html.ActionLink(@Model.AantalBeschikbaar(new {datum = DateTime.Today})){ 
            }*@
            @*<input id="sumbit" name="sumbit" type="submit" value="Beschikbaar?" class="btn btn-groen"/>*@

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aantal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aantal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aantal, "", new { @class = "text-danger" })
            </div>
        </div>


        <input type="button" class="btn btn-groen" value="Meer informatie" id="meer" />
        <div id="hidden">
            <div class="form-group">
                @Html.LabelFor(model => model.materiaal.Artikelnaam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.materiaal.Artikelnaam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.materiaal.Artikelnaam, "", new { @class = "text-danger" })
                </div>
            </div>

            <input type="button" class="btn btn-groen" value="Minder informatie" id="minder" />
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Plaats reservatie" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar verlanglijst", "Index")
</div>


