@model Projecten2.NET.Models.ViewModels.NieuweReservatieViewModel

@{
    ViewBag.Title = "Plaats een nieuwe reservatie";
}

<h2>Maak een nieuwe reservatie voor @Model.materiaal.Artikelnaam</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.materiaal.ArtikelNummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.materiaal.ArtikelNummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.materiaal.ArtikelNummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aantal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aantal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aantal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.beginDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.beginDatum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.beginDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Plaats reservatie" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to verlanglijst", "Index")
</div>

@*<script type="text/javascript">
        <input type="text" class="date" placeholder="Selecteer datum" />
        $(function () {
            $('.date').not('.hasDatePicker').datepicker({
                dateFormat: 'dd-mm-yy',
                showOn: 'button'
            }).next('button').button({
                icons: {
                    primary: 'ui-icon-calendar'
                }, text: false
            });
        });
    </script>*@